{% extends "base.html" %}

{% block content %}
    <h1>Signup</h1>
    <form action='/signup' method='post'>
        <table>
            <tbody>
                <tr>
                    <td>
                        <label for='username'>Username</label>
                    </td>
                    <td>
                        <input type='text' name='username' value='{{username}}'>
                        <span class='error'>{{username_val}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for='password'>Password</label>
                    </td>
                    <td>
                        <input type='password' name='password'>
                        <span class='error'>{{password_val}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for='verify'>Verify Password</label>
                    </td>
                    <td>
                        <input type='password' name='verify'>
                        <span class='error'>{{verify_val}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <input type='submit'>
    </form>
{% endblock %}